if BOARD_SPLITTO_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Splitto kb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # LEFT

if BOARD_SPLITTO_LEFT || BOARD_SPLITTO_RIGHT

config BOARD
    default "splitto"

config ZMK_SPLIT
    default y

config BT_CTLR
    default BT

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

endif # USB

endif # LEFT or RIGHT
